{% extends 'LMS_Teacher/nav_unit.html' %}

{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block body_class %}tec tec-unit-assignment{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if object %}
                    <a class="btn btn-danger" href="{% url 'lms_tec:assignment_delete' unit.pk object.pk %}">
                        <i class="glyphicon glyphicon-trash"></i>{% trans "Delete" %}
                    </a>
                {% endif %}
                <a class="btn btn-default pull-right"
                   href="{% if object %}{% url 'lms_tec:assignment_file' unit.pk object.pk %}
{% else %}{% url 'lms_tec:assignment' unit.pk %}{% endif %}">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-primary pull-right">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
