{% extends 'LMS_Teacher/nav_unit.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}tec tec-unit-grade{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <a class="btn btn-default pull-right"
                   href="{% url 'lms_tec:grade' unit.pk %}">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-primary pull-right">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
